.formcontato__form{
    display: flex;
    align-items: start;
    flex-direction:column;
    justify-content: space-evenly;
    height: 95%;
}

.formcontato__input{
    margin-bottom: 10px;
    padding: 1.6rem;
    height: auto;
    width: 95%;
}

.formcontato__textarea {
    width: 100%;
}

.input{
    color: var(--cor-azul-padrao);
    font-size: 1.6rem;
    font-weight: 600;
}