:root{
    --cor-nav:#424648;
    --cor-roxo:#800080;
    --cor-de-fundo:#6d3be0;
    --cor-preto:#000;
    --cor-amarelo:#ffd700;
    --cor-azul-padrao:#2A7AE4;
    --cor-azul-claro:#70b7ff;
    --cor-branco:#fefefe;
    --cor-laranja:#ffa500;
    --cor-verde-agua:#00ced1;
    --raleway:'Raleway',sans-serif
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);
    box-sizing: border-box;
    font-family:var(--raleway);
    margin: 0;
    padding: 0;
}

ol, ul,li {
    list-style: none;
} 

.titulos{
    color: var(--cor-amarelo);
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem 0 ;
    text-align: center;
}