.menu{
    align-items: center;
    background:var(--cor-nav);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: stretch;
        justify-content: center; 
    }

    .menu__lista {
        flex-direction: column; 
        flex-wrap: wrap;
        text-align: center; 
        margin: 0.5rem 0; 
    }
}
