.container__nav {
    display: flex;
    flex: 1 1 100vw;
    height: 100px;
    margin: 3px;
}

header #logo {
    flex: 0 1 200px;
    background-color: #c9c9c9;
}

#openMenu, #closeMenu {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    display: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 100vw;
}

nav .nav__bnt {
    color: aquamarine;
    font-weight: bold;
    font-size: 18pt;
    text-shadow: 2px 2px 2px black;
    transition: 500ms;
    margin: 0 2.5%;
}
.nav__bnt:hover {
    color: rgb(73, 72, 72);
}

.nav__bnt:active {
    color: aquamarine;
}

@media only screen and (max-width: 750px){
    #openMenu, #closeMenu{
        display: block;
    }
    #openMenu{
        margin-left: auto;
    }
    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }
    #menu {
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.7);
        display: none;
        gap: 30px;
    }
}