.container__nav {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.logo {
    margin: 12px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(248, 11, 70);
    text-shadow: 2px 2px 2px black;
}

.navbar {
    margin: 12px;
}

.nav__bnt {
    color: rgb(224, 11, 224);
    font-weight: bold;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
    transition: 500ms;
    margin: 0 6px;
}
.nav__bnt:hover {
    color: rgb(73, 72, 72);
}

.nav__bnt:active {
    color: aquamarine;
}