.container__nav {
    display: flex;
    flex: 1 1 100vw;
    height: 100px;
    margin: 3px;
}

header #logo {
    flex: 0 1 200px;
    background-color: #c9c9c9;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 100vw;
}

nav .nav__bnt {
    color: aquamarine;
    font-weight: bold;
    font-size: 18pt;
    text-shadow: 2px 2px 2px black;
    transition: 500ms;
    margin: 0 2.5%;
}
.nav__bnt:hover {
    color: rgb(73, 72, 72);
}

.nav__bnt:active {
    color: aquamarine;
}