.container__perfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    padding: 12px;
}

.perfil {
    margin: 50px;
    text-align: center;
}

.img__perfil {
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px 3px aqua;
    border-radius: 50%;
    border: 2px solid aquamarine;
    margin: 50px;
}

.titulo__perfil {
    font-weight: bolder;
    font-size: 48px;
    font-family: var(--fontTitulo);
    color: rgb(14, 211, 211);
    text-shadow: 2px 2px 2px black;
}

.meunome {
    color: orangered;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}