.container__perfil {
    display: flex;
    flex: 1 1 100vw;
    min-width: 350px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    padding: 5%;
}

.perfil {
    margin: 50px;
    text-align: center;
}

.img__perfil {
    max-width: 250px;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgb(5, 22, 22);
    border-radius: 50%;
    border: 2px solid rgb(158, 31, 231);
    margin: 50px;
    background-color: rgb(255, 30, 98);
}

.titulo__perfil {
    font-weight: bolder;
    font-size: 48px;
    font-family: var(--fontTitulo);
    color: rgb(14, 211, 211);
    text-shadow: 2px 2px 2px black;
}

.meunome {
    color: orangered;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

@media only screen and (max-width: 750px) {
    .container__perfil{ 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}