.titulo__network{
    color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 600;
    gap: 4rem;
    margin-top: 10%;
}
.titulo__network:hover {
    color: var(--cor-amarelo);
}
.icons {
    width: 2rem;
    color: var(--cor-azul-padrao);
}
.icons:hover {
    transform: scale(1.1);
    transition: 300ms;
}