.formcontato__form{
    display: flex;
    flex-direction: column;
    height: 58rem;
}

.formcontato__input{
    height: 6.5rem;
    margin: 2rem 0;
    padding: 0 1rem;
    width: 64.6;
}

.input{
    font: 400 1.6rem;
    margin-top: 2rem;
}