.container__cabecalho {
    display: flex;
    flex: 1 1 100vw;
}
.cabecalho {
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    padding: 10px;
}
.titulo__cabecalho {
    color: gray;
}
.titulo__cabecalho > span {
    color: tomato;
}
