.container__cabecalho {
    display: flex;
    flex: 1 1 100vw;
}
.cabecalho {
    display: flex;
    flex: 1 1 100vw;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    padding: 10px;
}
.titulo__cabecalho {
    color: gray;
}
.titulo__cabecalho > span {
    color: tomato;
}

@media screen and ( max-width: 750px){
    .container__cabecalho{
        flex-wrap: wrap;
        max-width: 100%;
        overflow-y: auto;
        padding: auto;
        margin: auto;
    }
    .cabecalho{
        margin: auto;
        padding: auto;
    }
    
}
