.container__footer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(#191919  , rgb(94, 214, 214));
}
.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    gap: 12px;
    padding: 10px;
}
.footer {
    padding-bottom: 10px;
}