.footer{
    background: var(--cor-nav);
    color: var(--cor-verde-agua);
    padding: 20px;
    margin-bottom: 0;
}

.footer__rodape{
    display: flex;
    align-items: center;
    font-family: 'mukta', monospace;
    font-size: 1.6rem;
    font-weight: 500;
}