.container__formacoes{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.titulo__formacoes {
    font-size: larger;
    font-weight: 700;
    color: chocolate;
}