
.container__perfil {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}
.perfil {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 100px;
    box-sizing: border-box;
}
.image > img {
    background-color: chartreuse;
    border-radius: 50%;
    border: 1px solid cyan;
    margin: 0 80px; 
    width: 150px;
    height: 150px;
}
.titulo {
    font-size: 35pt;
    font-weight: 700;
    color: chartreuse;
}

@media ( max-width: 750px){
    .perfil{
        flex-direction: column;
        min-width: 350px;
        text-align: center;
        margin: 20px;
    }
}