
.container__perfil {
    display: flex;
    flex: 1 1 100vw;
    min-width: 350px;
}
.perfil {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid white;
}
.titulo {
    font-size: 35pt;
    font-weight: 700;
    color: chartreuse;
}

.sub-titulo {
    max-width: 500px;
    color: cyan;
}
.sub-titulo > span {
    color: rgb(245, 148, 30);
}
.sub-titulo :first-child {
    color: cornflowerblue;
}