
.container__perfil {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    margin: 0 3%;
}
.perfil {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}
.image > img {
    background-color: chartreuse;
    border-radius: 50%;
    border: 1px solid cyan;
    width: 150px;
    height: 150px;
}
.titulo {
    font-size: 35pt;
    font-weight: 700;
    color: chartreuse;
}
