.hobbies__img{
    background: #FFFFFF;
    box-sizing: border-box; 
    color:#2A7AE4;
    flex-direction: column; 
    font-size: 1.6rem;
    font-weight: 700;
    height: 17.6rem;
    margin: 4rem 0;
    padding: 2rem;
    width: 17.4rem;
}

.hobbies__img-icon{
    margin-top: 7rem;
    width: 4rem;
}