.container__sobre {
    display: flex;
    flex: 1 1 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.sobre__titulo {
    font-size: 30px;
    font-weight: 700;
    color: tomato;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    padding: 30px;
    color: #fefefe;
    border-radius: 10px;
}