.botao{
    border-radius: 5px;
    margin-right: 1rem;
    opacity: 0.8;
    padding: 1.4rem;
    text-align: center;
    width: 11rem;
}
.botao:hover{
    box-shadow: 2px 2px 5px #000;
    opacity: 1;
    transform: scale(1.1);
    transition: 300ms;
}
.experiencia__botao--repo{
    color:var(--cor-azul-padrao) ;
}

.experiencia__botao--demo{
    background-color: var(--cor-azul-padrao);
    color: var(--cor-branco);
} 