.formcontato__botao{
    background-color: var(--cor-azul-padrao);
    border-radius: 0.5em;
    color: var(--cor-branco);
    height: 5.1rem;
    margin: 1rem;
    opacity: 0.8;
    width: 12rem;
}
.formcontato__botao:hover{
    box-shadow: 2px 2px 5px #000;
    opacity: 1;
    transform: scale(1.03);
    transition: 400ms;
}